@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "reset.css";
@import "variables.css";

:root {
  --body-font-size: 2vw;
  --heading-font-size: 4vw;
  --body-font-weight: 500;
  --heading-font-weight: 600;

  --color-brown-100: #7d5f42;
  --color-brown-500: #915c36;
  --color-brown-900: #1a110a;

  --color-text-primary: #dedede;
  --color-text-secondary: #b8b8b8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

html,
body {
  font-family: Montserrat;
  color: var(--color-text-primary);
  font-weight: var(--body-font-weight);
  height: 100dvh;
}

html::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(
    var(--color-brown-100),
    var(--color-brown-900)
  );
  z-index: -2;
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

body {
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

#title-and-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  user-select: none;
  animation-name: show-from-bottom-up-opacity;
  animation-duration: 1s;

  & img {
    width: 70px;
  }
}

#poop-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  & #poop-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    animation-name: show-from-bottom-up-opacity;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;

    &:hover {
      cursor: pointer;
    }
    &:hover svg {
      scale: 110%;
      transition: all ease-in-out 0.2s;
      z-index: -1;
    }

    & #today-poop-count-and-icon-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      background: rgb(from var(--color-brown-100) r g b / 20%);
      backdrop-filter: blur(8px);
      padding: 6px;
      border-radius: 8px;
      width: 100%;
      color: var(--color-text-primary);
      font-weight: var(--heading-font-weight);
      font-size: 24px;
      animation-name: show-from-bottom-up-opacity;
      animation-duration: 1s;
      animation-fill-mode: backwards;
      animation-delay: 2s;
    }
  }

  & #ic-poop {
    fill: linear;
  }
}

#Combined-Shape {
  fill: url(#poop-svg-gradient);
}

.svg-gradient-top-color {
  stop-color: var(--color-brown-100);
}
.svg-gradient-bottom-color {
  stop-color: var(--color-brown-500);
}

#description {
  color: var(--color-text-secondary);
  animation-name: show-from-bottom-up-opacity;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 0.8s;
}

#user-streak-wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  background: rgb(from var(--color-brown-100) r g b / 30%);
  backdrop-filter: blur(50px);
  padding: 32px;
  min-width: 400px;
  border-radius: 36px;
  animation-name: show-from-bottom-up-opacity;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 0.8s;

  & h3#current-streak-number {
    font-size: 32px;
    font-weight: var(--heading-font-weight);
  }
}

#toggle-log-wrapper {
  background-color: var(--color-brown-100);
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 12px;
  width: fit-content;
  border-radius: 100%;
  animation-name: show-from-bottom-up-opacity;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 1.2s;
}

#user-history-wrapper {
  display: none;
  position: absolute;
  right: -500px;
  height: 100dvh;
  min-width: 500px;
  background-color: var(--color-brown-100);

  & #user-history-list {
    list-style: disc;
  }

  & #content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    height: 100dvh;
  }

  & h1 {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 32px;
    font-weight: var(--heading-font-weight);
  }
}

#user-history-items-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 12px;
  overflow: auto;
}

.user-history-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
}

#content-header-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  #title-and-logo-wrapper h1 {
    font-size: 6vw;
  }
}

@media (max-width: 500px) {
  #user-streak-wrapper {
    min-width: 260px;
    padding: 24px;
  }

  #title-and-logo-wrapper h1 {
    font-size: 12vw;
  }

  #user-history-wrapper {
    min-width: 100%;
  }
}

@keyframes show-from-bottom-up-opacity {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
